.ArtistItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
    min-width: 100px;
}
.ArtistItem img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}