.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Centra la página verticalmente */
    background-color: var(--bg-card);
    margin: 0;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;  /* Establecer un tamaño fijo para el contenedor */
    height: 100px;
}

.circle-loader {
    display: block;
    width: 100%;   /* Se ajusta al contenedor */
    height: 100%;
}

.circle-loader .circle {
    stroke-dasharray: 126; /* Longitud del contorno del círculo */
    stroke-dashoffset: 126;
    animation: rotate 1s linear infinite, draw 1.5s ease-in-out infinite;
    transform-origin: 50% 50%;  /* El origen de la rotación se establece en el centro del SVG */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes draw {
    0% {
        stroke-dashoffset: 126;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 126;
    }
}
