@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

    /* Spotify Inspired */
    --primary: #1DB954;
    --secondary: #191414;
    --accent: #1ed760;

    /* Dark Mode */
    --bg-dark: #121212;
    --bg-card: #181818;
    --text-primary: #FFFFFF;
    --text-secondary: #B3B3B3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
