.Nav{
    position: fixed;
    top:0;
    left:0;
    height: 60px;
    width: 100%;
    background-color: var(--bg-card);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;

    z-index: 10;
    font-weight: bold;
}
.Nav:before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #343434;
    z-index: -1;
}
.Nav button{
    background-color: var(--primary);
    color: white;
    border: none;
    width: 38px;
    height: 38px;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.NavLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    gap: 15px;
}
.NavLeft img{
    width: 38px;
    height: 38px;
    border: 4px solid #343434;
    border-radius: 50%;
    box-sizing: content-box;
    /*animation: breadingProfileBorder ease-in-out 15s infinite;*/
}

.NavCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 91px - 50px);
    height: 100%;
}
.NavCenter > div{
    height: 100%;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-primary);
}
.NavCenter > div:hover{
    color: var(--accent);
    cursor: pointer;
}

.NavRight{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 91px;
    gap: 15px;
}
.NavRight img{
    height: 15px;
    width: 15px;
}
.NavRight > button:nth-of-type(2) > img{
    margin-right: 1px;
}

.NavBottom{
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20px;
}

.NavBottom > div{
    height: 100%;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-primary);
}
.NavBottom > div:hover{
    color: var(--accent);
    cursor: pointer;
}


@media (max-width: 450px){
    .Nav{
        height: 100px;
        flex-wrap: wrap;
    }

    .Nav:before{
        top: 60px;
        left: 0;
    }

    .NavCenter{
        display: none;
    }

    .NavBottom{
        display: flex;
    }
}