/* BOX WIDGETS */
.BoxWidget{
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}
.BoxWidget h3{
    position: relative;
    width: fit-content;
    padding: 10px 20px;

    background-color: var(--bg-card);
    margin-bottom: -10px;
    border-radius: 8px 8px 0 0;

}

.BoxWidgetContent{
    position: relative;
    border-radius: 8px;
    border: 20px var(--bg-card) solid;
    box-sizing: content-box;
    padding: 10px;
    width: calc(100% - 60px);
    background-color: var(--bg-card);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 15px;

    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
}