.DashboardApp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 100px 20px 40px;
    background-color: var(--bg-dark);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.DashboardMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.DashboardMain h2{
    font-size: 1.2rem;
    font-weight: bold;

    width: 100%;
    max-width: 1200px;
}

.DashboardMain > button{
    border-radius: 8px;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 1160px;

    color: var(--text-primary);
    font-weight: bold;
    background-color: var(--primary);
}
.DashboardMain > button:hover{
    cursor: pointer;
}
.DashboardMain > button:active{
    transform: scale(1.01);
}

@keyframes breadingProfileBorder {
    0% {
        border: 3px solid #343434;
    }
    50% {
        border: 8px solid #343434;
    }
    100% {
        border: 3px solid #343434;
    }
}

@media (max-width: 540px){
    .DashboardApp {
        padding: 140px 20px 40px;
    }
}