.DashboardNav{
    position: fixed;
    top:0;
    left:0;
    height: 60px;
    width: 100%;
    background-color: var(--bg-card);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;
}
.DashboardNav:before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #343434;
    z-index: -1;
}
.DashboardNav button{
    background-color: var(--primary);
    color: white;
    border: none;
    width: 38px;
    height: 38px;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.DashboardNavLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    gap: 15px;
}
.DashboardNavLeft img{
    width: 38px;
    height: 38px;
    border: 4px solid #343434;
    border-radius: 50%;
    box-sizing: content-box;
    /*animation: breadingProfileBorder ease-in-out 15s infinite;*/
}

.DashboardNavRight{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 15px;
}
.DashboardNavRight img{
    height: 15px;
    width: 15px;
}
.DashboardNavRight > button:nth-of-type(2) > img{
    margin-right: 1px;
}

.DashboardApp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 100px 20px 40px;
    background-color: var(--bg-dark);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.DashboardMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.DashboardMain h2{
    font-size: 1.2rem;
    font-weight: bold;

    width: 100%;
    max-width: 1200px;
}

@keyframes breadingProfileBorder {
    0% {
        border: 3px solid #343434;
    }
    50% {
        border: 8px solid #343434;
    }
    100% {
        border: 3px solid #343434;
    }
}